.game {
	width: 400px;
	height: 400px;
	border-style: dashed;
  border-color: red;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  padding: 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game > .title {
  top: -60px;
  position: absolute;
  color: red;
}

.game > .bottom {
  bottom: 10px;
  position: fixed;
}

.game > .footer {
  position: absolute;
  bottom: -60px;
  color: red
}