.login .google {
  width: 100px;
  margin: auto;
  padding: 20px;
}

.login .text {
  text-align: center;
}

.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
  color: red;
  margin: 5px;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}